.tableListContainer {
    min-width: 300px;
}

.bottomScrollSpacer {
  height: 0;
}

@media (max-width: 640px) {
  .bottomScrollSpacer {
    height: 40px;
  }
  .tableChipsCompact {
    display: none;
  }
}
